html {
	min-height: 100%;
  	height: 100%;
}

body {
	padding-top: 70px;
	min-height: 100%;
  	height: 100%;
}

#body-content {
  height: 100%;
}

#footer {
  height: 50px; /* the footer's total height */
}

#footer-content {
  background-color: rgb(16, 16, 16);
  border: 1px solid rgb(50, 50, 50);
  color: rgb(255, 255, 255);;
  height: 32px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
  padding: 8px;
}

#wrapper {
  
  min-height: 100%;
  height: auto !important;
  margin-bottom: -50px; /* the bottom margin is the negative value of the footer's total height */
}

#wrapper:after {
  content: "";
  display: block;
  height: 50px; /* the footer's total height */
}


.jumbotron {
	padding: 0.3em 0.4em;
}

#sidebar {
  border-right: 1px solid rgb(200, 200, 200);
  padding-right: 10px
}

ul.task-list {
  list-style-type: none;
}
ul.task-list li:not(:last-child) {
  margin: 0 0 3px 0;
}

/*ul#sidebar {
  list-style-type: none;
}


ul#sidebar li {
  
}*/

.nav-link.btn {
  text-align: left;
}

.nav-link.btn.sub {
  text-indent: 2em;
}

/*text-indent: 50px;*/

.content_text {
  color: 'black';
  text-align: left;
}

.content_text_red {
  color: 'red';
}




.breadcrumbs-arrow{
  overflow: hidden;
  width: 100%;
  list-style: none;
  background-color: white;
  /*border-color: black;
  border-width: 1px;
  border-style: solid;*/
}

.breadcrumbs-arrow li{
  float: left;
  margin: 0 .5em 0 1em;
}

.breadcrumbs-arrow a{
  background-color: #DEDEDE;
  padding: .3em .5em;
  float: left;
  text-decoration: none;
  color: black;
  /*text-shadow: 0 1px 0 rgba(255,255,255,.5); */
  position: relative;
}

/*#242323*/

.breadcrumbs-arrow li:not(:first-child) a::before {
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #DEDEDE #DEDEDE #DEDEDE transparent;
  left: -1em;
}

.breadcrumbs-arrow li:first-child a {
  padding-left: 20px;
  background-color: #DEDEDE;
}

.breadcrumbs-arrow a::after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #DEDEDE
  ;
  right: -1em;
}

/*.breadcrumbs-arrow a:hover::after{
  border-left-color: #99db76;
}*/
/*.breadcrumbs-arrow a:hover{
  color: white;
  border-color: #99db76 green #99db76 blue;
}*/
/*.breadcrumbs-arrow a::before:hover{
  border-color: #99db76 green #99db76 blue;
}*/
.breadcrumbs-arrow a:hover{
  /*background: #DEDEDE;*/
  /*#99db76;*/
  color: #72ACFE;
}

.breadcrumbs-arrow a:hover::before{
  border-color: #DEDEDE #DEDEDE #DEDEDE transparent;
}

.breadcrumbs-arrow a:hover::after{
  border-left-color: #DEDEDE;
}


/*breadcrumbs-arrow a::after:hover{
  border-left-color: #99db76;
}*/
/*breadcrumbs-arrow a:hover::before{
  border-left-color: #99db76;
}*/

.breadcrumbs-arrow .active {
  font-weight: bold;
}
.breadcrumbs-arrow .active:hover {
  color: black;
}
  /*background-color: grey;

/*.breadcrumbs-arrow .active::after,
.breadcrumbs-arrow .active::before{
  content: normal;*/