{% extends "base.html" %}

{% block title %}
  {% if page %}
    Edit page "{{ page.title}}"
  {% else %}
    Create a new page
  {% endif %}
{% endblock title %}

{% block content %}
  <h1>
    {% if page %}
        Edit page "{{ page.title }}"
    {% else %}
        Create a new page
    {% endif %}
  </h1>
  <div class="module">
    <form action="" method="POST">
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <div class="form-row">
        <input type="submit" value="Save page" class="btn btn-primary">
      </div>
    </form>
  </div>
{% endblock content %}